.header {
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    z-index: 10;
    background-color: $white;
  }
  h1 {
    font-size: 60px;
    line-height: 70px;
    span {
      color: $tertiary;
      font-weight: 900;
    }
  }

  img {
    filter: grayscale(0.1);
  }
}

.icon-programming {
  position: absolute;
  // transform: rotate(random(360)+ deg);
  z-index: 1;
}

.icon1 {
    // transform: rotate(random(40) + deg);
  opacity: 0.4;
  top: 20%;
  left: 10%;
}
.icon2 {
    // transform: rotate(-(random(40)) + deg);
  opacity: 0.4;
  top: 45%;
  left: 10%;
}
.icon3 {
    // transform: rotate(random(40) + deg);
  opacity: 0.4;
  top: 70%;
  left: 10%;
}
.icon4 {
    // transform: rotate(-(random(40)) + deg);
  opacity: 0.4;
  top: 20%;
  left: 78%;
}
.icon5 {
    // transform: rotate(random(40) + deg);
  opacity: 0.4;
  top: 45%;
  left: 78%;
}
.icon6 {
    // transform: rotate(-(random(40)) + deg);
  opacity: 0.4;
  top: 70%;
  left: 78%;
}
